# =========================
# MAVEN
# =========================
target/

# =========================
# ECLIPSE
# =========================
bin/
.settings/
.classpath
.project
.springBeans
.sts4-cache/

# =========================
# INTELLIJ
# =========================
.idea/
*.iml

# =========================
# LOGS
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# UPLOADS
# =========================
uploads/

# =========================
# ENV
# =========================
.env
application-secret.properties

# =========================
# SECURITY
# =========================
*.key
*.pem
*.jks

# =========================
# NODE
# =========================
node_modules/